<div class="col">
  <div ngbDropdown class="d-inline-block">
    <button class="btn btn-outline-primary" id="dropdownBasic2" ngbDropdownToggle></button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
      <button class="size-dropdown-item">xs</button>
      <button class="size-dropdown-item">s</button>
      <button class="size-dropdown-item">m</button>
      <button class="size-dropdown-item">l</button>
      <button class="size-dropdown-item">xl</button>
      <button class="size-dropdown-item">xxl</button>
    </div>
  </div>
</div>
